body {
    font-family: "PT Sans Narrow", sans-serif;
    padding: 0;
    margin: 0;
}

#wrapper {
    margin-top: 0px;
    float: right;
    width: 60%;
    margin-right: 50px;
}

/* window {
    margin-top: 100px;
    float: center;
    width: 60%;
    margin: 100 px;
} */

header h1 {
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
    color: #3e2d81;
}

header h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: #775edb;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: #aa99ee;
}

header img {
    margin-top: 50px;
    width: 100%;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: #3e2d81;
    font-weight: bold;
}

nav a:hover {
    color: #aa99ee;
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: #aa99ee;
}

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
    color: #c5b8f9;
}

footer a {
    text-decoration: none;
}

.books {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 16px;
}

.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 0;
    color: #aa99ee;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 12px;
}

table img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 480px) {

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 6px solid #3e2d81;
        background: #775edb;
        z-index: 1000;
        color: white;
    }

    nav a {
        color: white;
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
        color: #c5b8f9;
    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px;
    }
}