body {
    /* background-color: lightblue; */
    /* background-color: #208c71; */
    font-family: "MS Sans Serif", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 10px solid #dadce0;
    box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #FFFFFF, -1px -1px 0 #000000, 1px 1px 0 #FFFFFF;
}

header {
    box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #FFFFFF, -1px -1px 0 #000000, 1px 1px 0 #FFFFFF;
    background-color: #dadce0;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    top: 0;
    width: 100%;

}

h1 {
    font-family: "MS Sans Serif", sans-serif;
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 2%;
    /* color: #dadce0 */
}


*/ main {
    position: relative;
    height: 100vh;
}

.paragraph-box {
    border-top: 10px solid #dadce0;
    border-left: 5px solid #dadce0;
    border-right: 5px solid #dadce0;
    border-bottom: 10px solid #dadce0;
    background-color: #dadce0;
    margin: 50px auto;
    margin-right: 100px;
    margin-left: 100px;
    box-shadow: inset -2px -2px 0 #808080, inset 2px 2px 0 #FFFFFF, -2px -2px 0 #000000, 2px 2px 0 #FFFFFF;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 40%;

}

.window-buttons {
    box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #FFFFFF, -1px -1px 0 #000000, 1px 1px 0 #FFFFFF;
    background-color: #394dcd;
    padding: 5px;
    text-align: right;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.window-footer {
    padding: 5px;
    position: fixed;
    bottom: 0;
}

nav {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 5px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: fixed;
}

nav a {
    text-decoration: underline;
    color: #061571;
    font-weight: bold;

}

nav a:hover {
    color: #dfe300;
}

.material-symbols-outlined {
    color: #dfe300;
}

footer {
    /* border: 1px solid black; */
    background-color: #dadce0;
    /* box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #FFFFFF, -1px -1px 0 #000000, 1px 1px 0 #FFFFFF; */
    margin-top: auto;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: right;
}




/* body {
    border-top: 30px solid rgb(186, 186, 186);
    background-color: #208c71;
} */

/* #wrapper {
    margin-top: 0px;
    float: right;
    width: 60%;
    margin-right: 50px;
} */

/* body {
    font-family: "PT Sans Narrow", sans-serif;
    padding: 0;
    margin: 0;
} */

/* footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
    color: #c5b8f9;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
} */

/* footer a {
    text-decoration: none;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.page-footer {
    /* Optional: adds space between content and border */
/* 






@media (max-width: 480px) {

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 6px solid #3e2d81;
        background: #775edb;
        z-index: 1000;
        color: white;
    }

    nav a {
        color: white;
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
        color: #c5b8f9;
    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px;
    }
}